.layout {
  display: flex;
  flex: 1;
  flex-direction: row;

  .content {
    margin: 20px;
    margin-left: $menu-width + 20px;
    max-width: 1000px;
    overflow: auto;
  }

  .content > section {
    margin: 35px;
  }

  .content > section > h1 {
    margin-bottom: 30px;
  }
}
